<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>myLoginForm</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <description></description>
    <display-name>CheckLoginServlet</display-name>
    <servlet-name>CheckLoginServlet</servlet-name>
    <servlet-class>myLoginForm.servlets.CheckLoginServlet</servlet-class>
    <init-param>
    	<param-name>logins</param-name>
    	<param-value>bob;joe;marcelus</param-value>
    </init-param>
    <init-param>
    	<param-name>passwords</param-name>
    	<param-value>1234;5678;abcd</param-value>
    </init-param>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>CheckLoginServlet</servlet-name>
    <url-pattern>/checkLogin</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>CheckAdminServlet</display-name>
    <servlet-name>CheckAdminServlet</servlet-name>
    <servlet-class>myLoginForm.servlets.CheckLoginServlet</servlet-class>
    <init-param>
    	<param-name>logins</param-name>
    	<param-value>root;admin;neo</param-value>
    </init-param>
    <init-param>
    	<param-name>passwords</param-name>
    	<param-value>4321;poiu;trinity</param-value>
    </init-param>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>CheckAdminServlet</servlet-name>
    <url-pattern>/checkAdmin</url-pattern>
  </servlet-mapping>
</web-app>